#portfolio h5 {
    color: transparent;
    margin-bottom: 2rem;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem ;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color:var(--color-primary-variant);
    background: transparent;
        cursor: pointer;
        transform: scale(1.1);
      }


.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.Image1, .Image2, .Image3 {
    height: 300px;
    width: 420px;
}




.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Media Queries (Medium - tablettes) */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* Media Queries (Small - tel portable) */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}